
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  scrollbar-width: thin;
  scrollbar-color: #fdcfdf #f6f6f601;
  font-family: "Roboto", sans-serif;
  -webkit-user-drag: none;
  user-select: none;
}

.bg {
  background: linear-gradient(rgb(0 0 0 / 71%), rgb(0 0 0 / 72%)), url(/src/assets/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: scroll;  
}

.container-contact {
  display: grid;
  gap: 16px;
  height: auto;
  padding: 64px 12.8px 160px ;

  grid-template-columns: 108px 1fr 1fr 1fr;

  grid-template-areas: 
    "div1 div1 div1 div1"
    "form form form form"
  ;
  
  @media(width >= 767px){
    width: 768px;
    margin: 0 auto;

    .header {
      width: 612px;
    }

    grid-template-areas: 
    "div1 div1 div1 div2"
    "div1 div1 div1 div4"
    "form form form form"
    ;

    .foto-perfil {
      display: flex;
      width: 220px;
      height: 220px;
      opacity: .8;
      z-index: 100;
      -webkit-clip-path: polygon(0 0, 100% 0, 73% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 73% 100%, 0 100%);

      img {
        border-radius: 10px 0 0 10px;
        width: 100%;
        object-fit: cover;
        
      }
    
    }
  }
}

.foto-perfil {
  display: none;
}

.content-header {
  text-align: center;
  justify-content: center;
  line-height: 1.25rem;
  display: flex;

  .desc h1 {
    font-size: 2.25rem;
    line-height: 3.5rem;
    text-shadow: 0 0 7px rgba(139,92,246,.6), 0 0 150px rgba(139,92,246,.6);    
  }

  #toWork{
    opacity: .7;
    font-size: .875rem;
  }

  .social {
    display: flex;
    gap: 16px;
    justify-content: center;

  }

  .social img {
    width: 30px;
  }

  hr {
    margin: 15px auto;
    width: 90%;
  }

  nav {
    width: 100%;
    padding: 6px 0;
    display: flex;
    align-items: center;
    gap: 13px;
    text-shadow: 0 0 7px #f9a8d4, 0 0 150px #f9a8d4;
    background-color: rgba(0, 0, 0, .2);
    justify-content: center;

    @media (width >= 768px) {
      justify-content: end;
      margin-top: 45px;
      top: 143px;
      left: 0px;
      text-align: center;
      position: absolute;
    }

    a{
      text-decoration: none;
      opacity: .8;
      cursor: pointer;
      width: 100px;
    }
  }
  
  .desc {
    width: 100%;
    height: 100%;
  }

}

.header {
  border-radius: 8px;
  background-color: rgba(109, 40, 217, .2);
  backdrop-filter: blur(12px);
  grid-area: div1;
}
@media(width <= 767px) {
  .hour, .light {
    display: none;
  }
}

.form{
 grid-area: form;
 height: auto;
 padding: 1rem;
 line-height: 1.25rem;
 border-radius: .375rem;
 background-color: rgba(109, 40, 217, .2);
 backdrop-filter: blur(12px);

 .input {
    font-size: .875rem;
    border-radius: .375rem;
    width: 100%;
    padding: .5rem;
    background-color: rgba(226, 232, 240, .05);
    margin-bottom: 1rem;
    border: 1px solid #e5e7eb8c;
    outline: 2px solid transparent;
  }

  .textarea {
    font-size: .875rem;
    border-radius: .375rem;
    width: 100%;
    height: 144px;
    padding: .5rem;
    background-color: rgba(226, 232, 240, .05);
    margin-bottom: 1rem;
    border: 1px solid #e5e7eb8c;
    outline: 2px solid transparent;
  }

  .div-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: rgba(226, 232, 240, .05);
    padding: .5rem 1.25rem;
    background-color: rgba(91, 33, 182, .3);
    border-color: rgba(91, 33, 182, .1);
    border-width: 1px;
    border-radius: .375rem;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;
    height: 44px;
  }

  h1 {
    font-weight: 700;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    margin-bottom: .25rem;
    font-size: .875rem;
  }


}

